@font-face {
    font-family: poppins;
    src: url("assets/Poppins-Regular.ttf");
}

@font-face {
    font-family: poppins-bold;
    src: url("assets/Poppins/Poppins-Bold.ttf");
}


@font-face {
    font-family: oldenburg;
    src: url("assets/Oldenburg-Regular.ttf");
}


button{
    cursor: pointer;
    background-color: #fff;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

button:hover{
    background-color: #111;
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
    overflow-x: hidden;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #fff;
}

*:focus {
    outline: none;
}


#fullscreen-nav {
    top: 0%;
    position: absolute;
    height: 100vh;
    width: 50vw;
    background-color: #141617;
    transform: translateX(-100%);
    position: fixed;
    z-index: 9;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    padding-left: 6.5vw;
    overflow-y: hidden;

}

#fullscreen-nav a:hover
{
    color: red;
}
.top-nav{
    padding: 5vw;
    display: flex;
    flex-direction: column;
    font-size: 5vmax;
}

.top-nav a{
    text-decoration: none;
    color: #fff;
}

.bottom-nav{
    padding: 0vw 5vw 5vw 5vw;
    display: flex;
    flex-direction: column;
    font-size: 2vmax;
    gap: 1vw;
}
.bottom-nav a{
    text-decoration: none;
    color: #fff;
}

#menu {
    position: relative;
    display: inline-block;
    flex-direction: column;
    cursor: pointer;
    display: none;

}

#line1,
#line2 {
    height: 0.3vh;
    width: 7vw;
    background-color: #111;
    margin: 6px 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

#main {
    min-height: 100vh;
    width: 100vw;
    position: relative;
}


#page1 {
    position: relative;
    width: 100vw;
    padding: 2vw;

}

nav {
    position: absolute;
    position: fixed;
    top: 0;
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
    z-index: 999;
    background-color: #fff;

}



#logo-part span {
    font-family: "oldenburg";
    font-size: 1.5vmax;
    text-transform: uppercase;
}


#link-part::-webkit-scrollbar {
    display: none;
}

#link-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30vw;
    height: 8vh;


}

#link-part a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 1.2vmax;
    overflow: hidden;
}

#icon-part {
    width: 7vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#icon-part i {
    font-size: 1.5vmax;

}

.main-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    

}

.main-container #left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4vh;

}

.upper {
    overflow: hidden;
}

.main-container #left h4 {
    color: #ebd774;
    font-family: "oldenburg";
    font-size: 2vmax;
    overflow: hidden;
}

.main-container #left h2 {
    text-transform: uppercase;
    font-size: 4vmax;
    overflow: hidden;

}

.main-container #left h5 {
    color: #C7C7C7;
    font-family: "oldenburg";
    font-weight: 200;
    font-size: 1.2vmax;
    overflow: hidden;


}

.main-container #left button {
    width: 9vw;
    border: 1.5px solid black;
    overflow: hidden;
    cursor: pointer;
    padding: 1vw 0;

}

.main-container #right {
    padding-left: 5vw;
    padding-top: 15vh;

}

.main-container #right #clock-div {
    height: 40vw;
    width: 40vw;
    padding: 0.3vw;
    position: relative;

}

.main-container #right #clock {
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    filter: drop-shadow(1vw 1vw 2vw #f7c6c6);
    left: 7vw;
    position: relative;
    background-color: #fff;

}

.main-container #right #big-hand {
    position: absolute;
    height: 12.4vw;
    width: 2vw;
    background-color: black;
    border-radius: 15px;
    left: 50%;
    top: 4%;
    transform: translate(-50%);
}

.main-container #right #small-hand {
    position: absolute;
    height: 9vw;
    width: 2vw;
    background-color: black;
    border-radius: 15px;
    left: 30%;
    top: 32%;
    transform: rotate(90deg);
}

#page2 {
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2vw;
    gap: 1vw;
}

#page2 #left {
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#page2 #left #lft-img {
    height: 30vh;
    width: 30vw;
    background-image: url("https://i.pinimg.com/564x/f2/10/fa/f210fad6bc09c7001d551ccd5a9fa39c.jpg");
    background-position: bottom;
    background-size: cover;
    transform: scale(1.4);
    margin-left: 1vw;
}

#page2 #left #lft-content {
    display: flex;
    gap: 3vh;
    flex-direction: column;
    z-index: 7;
    padding: 5vw 2vw;
}

#page2 #left #lft-content h2 {
    text-transform: uppercase;
    font-size: 2.3vmax;
    font-family: "poppins-bold";
    letter-spacing: 1px;
}

#page2 #left #lft-content p {
    font-size: .8vmax;
}

#page2 #left #lft-content button {
    font-weight: 200;
    width: 10vw;
    padding: 1vw 0;
    border: 1px solid black;

}


#page2 #left #lft-content button:hover{
    background-color: #111;
    color: #fff;
}

#page2 #right {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#page2 #right #right-img {
    height: 25vh;
    width: 15vw;
    background-image: url("https://i.pinimg.com/564x/63/1a/0f/631a0f610054c297f1b1fe3f502f8017.jpg");
    background-position: center;
    background-size: cover;
}

#page2 #right #right-content {

    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vw 0;
    gap: 1vw;
}


#page2 #right #right-content h4 {
    color: #fce571;
    font-size: 1vmax;
    font-family: "oldenburg";
}

#page2 #right #right-content h3 {
    font-size: 2.3vmax;
    text-transform: uppercase;
    font-family: "poppins-bold";

}

#page2 #right #right-content p {
    font-size: .8vmax;
    text-align: center;

}
#page2 #right #right-content button{
    border: 1px solid black;
    width: 13vw;
    padding: .5vw 0;
}


#page3 {
    position: relative;
    width: 100vw;
    padding-left: 5vw;
    margin-bottom: -40vh;
}

.image-card1 {
    top: 0;
}

.image-card2 {
    top: -25vw;
    left: 50vw;
}

.image-card3 {
    top: -25vw;
}

.image-card {
    position: relative;
    /* overflow: hidden; */
    border-radius: 20px;
    height: 35vw;
    width: 35vw;

}

.image-card img {
    height: 60%;
    width: 100%;
    /* object-fit: cover; */
    object-position: center;
    border-radius: 20px;

}

.image-card .image-data {
    width: 80%;
    top: 100%;
    padding: 3vw 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.3vmax;
    gap: 1vw;


}

.image-card .image-data .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price {
    font-size: 1vmax;
    text-transform: uppercase;
    font-weight: bold;

}

.image-card .image-data .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1vmax;
    text-transform: none;
}


.image-card .image-data .bottom button{
    border: 1px solid black;
    height: 5vh;
    width: 13vw;

}





#page5 {
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contents {

    display: flex;
    align-items: flex-start;
    gap: 3vw;
    flex-direction: column;
    padding-left: 5vw;
}

.contents h5 {
    font-size: 1.2vmax;
    text-transform: uppercase;
    color: gray;
    font-weight: 200;

}

.contents h2 {

    font-size: 2.2vw;
    font-weight: 300;

}

.contents p {
    font-size: 1.2vmax;
    width: 35vw;
}

.contents button {
    border: 1px solid black;
    width: 13vw;
    padding: 1vw 0;
}

.image {
    position: relative;
    height: 35vw;
    width: 35vw;
    background-color: #e0e2dc;
    border-radius: 50%;
    margin-right: 10vw;
}

.image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 44vw;
}




footer {
    width: 100vw;
    display: flex;
    margin: 5vw 0;
    gap: 10vw;

}

#contact-us {
    display: flex;
    align-items: center;
    gap: 15vw;
    padding: 0 5vw;
}

#contact {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1vw;
}

#contact h2 {

    font-size: 3vmax;
    text-transform: uppercase;


}

#contact h4 {
    text-transform: uppercase;
    font-size: .8vmax;
    font-weight: 100;
    color: gray;
}

#contact h3 {
    font-family: "oldenburg";
    font-size: 1.5vmax;
}

#contact p {
    font-size: 0.9vmax;
    font-weight: 100;
    color: gray;


}

#contact p::first-letter {
    font-weight: 900;
    color: black;
}

#links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    padding-top:  7vw;
}

#links a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    color: grey;
    font-size: 1.2vmax;
}

#links a:hover {
    color: black;
}

#subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    padding: 0 5vw;

}

#subscribe h3 {
    font-family: "oldenburg";
    font-size: 1.4vmax;
}

#subscribe h2 {
    font-size: 2.3vmax;
    text-transform: uppercase;
}

#subscribe p {
    font-size: 0.9vmax;
    text-align: center;
}

#subscribe input {
    border: none;
    width: 20vw;
    font-size: 1.3vmax;
    border-bottom: 1px solid gray;
    text-align: center;
}

#subscribe button {

    border: none;
    width: 12vw;
    background-color: black;
    color: white;
    font-size: 1.3vmax;
    letter-spacing: 1px;
    border-radius: 2px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
    padding: 1vw 0;
}

#subscribe button:hover {
    background-color: #fff;
    color: #111;
    border: 1px solid #111;
}

#contact-us h6 {
    position: absolute;
    font-size: 1vmax;
    bottom: 1%;
    left: 45vw;
}



@media only screen and (max-width:500px) {


    #link-part,#icon-part{
        display: none;
    }

    
.nav{
    padding: 0 5vw;
}

#menu{
    display: flex;
}

.main-container{
    padding: 5vw;
    flex-direction: column-reverse;
}

.main-container #right{
    width: 100vw;
    padding-top: 10vh;
  
}

.main-container #right #clock-div{
    height: 60vw;
    width: 60vw;
    margin-right: auto;
    margin-left: auto   ;
}


.main-container #right #clock{
    height: 50vw;
    width: 50vw;
  
}

.main-container #right #big-hand{
    height: 23.6vw;
}

.main-container #right #small-hand{
    height: 18vw;
}


.main-container #left{
    gap: 2vw;
}

.main-container #left button{
    width: 40vw;
}

#page2{
    flex-direction: column;
}

#page2 #left{
    width: 100vw;
    flex-direction: column;
}

#page2 #left #lft-img{
    height: 20vh;
    width: 43vw;
}


#page2 #left #lft-content button{
    width: 44vw;
}

#page2 #right{
    width: 100vw;
}

#page2 #right #right-img{
    width: 60vw;
}
#page2 #right #right-content{
    width: 100vw;
}

#page2 #right #right-content button{
    width: 44vw;
    padding: 1vw 0;
}




    #page3{
        height: initial;
        display: flex !important;
        flex-direction: column !important;
        gap: 2vw;
        padding-top: 10vw;
        margin-bottom:-15vh;
    }


    .image-card{
        height: 100vw;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }

    .image-card1 {
        top: initial;
    }


    .image-card2 {
        top: initial;
        left: initial;
    }

    .image-card img{
        height: 50%;
        object-fit: initial;
    }

    .image-card3 {
        top: initial;
        margin-bottom: 30vw;
    }

    .image-card .image-data{
        font-size: 2.5vmax;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .image-card .image-data .bottom button{
        width: 44vw;
    }

    .image-card .image-data .top{
        flex-direction: column;
    }

    .image-card .image-data .bottom{
        display: initial;
        font-size: 2vmax;
    }

    .price{
        font-size: 1.5vmax;
    }

    #page5{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 5vw;
    }

    .image{
        width: 60vw;
        height: 60vw;
        margin-right: auto;
        margin-left: auto;
    }

    .image img{
        width: 60vw;
    }

    .contents h5{
        font-size: 2vmax;
    }

    .contents h2{
        font-size: 2vmax;
    }
    .contents p{
        width: 80vw;
        font-size: 1.6vmax;
    }

    .contents button{
        width: 44vw;
        margin-left: auto;
        margin-right: auto;
}


footer{
    height: 50vh;
    flex-direction: column-reverse;
    padding: 5vw;
    margin-bottom: 20vh;
}


#contact-us{
    align-items: center;
}

#contact{
    gap: 2vw;
}

#contact h4{
    font-size: 1.3vmax;
}

#contact h3{
    font-size: 1.7vmax;
}

#contact p{
    font-size: 1.2vmax;
}

#links{
    padding-top: initial;
}

#links a{
    font-size: 1.4vmax;
}

#subscribe{
    gap: 2vw;
}

#subscribe p{
    font-size: 1.2vmax;
}

#subscribe input{
    width: 50vw;
}

#subscribe button{
    width: 44vw;
}




}